.body {
  min-height: 100vh;
  background: hsla(220, 72%, 56%, 1);

  background: linear-gradient(
    270deg,
    hsla(220, 72%, 56%, 1) 0%,
    hsla(183, 72%, 56%, 1) 100%
  );

  background: -moz-linear-gradient(
    270deg,
    hsla(220, 72%, 56%, 1) 0%,
    hsla(183, 72%, 56%, 1) 100%
  );

  background: -webkit-linear-gradient(
    270deg,
    hsla(220, 72%, 56%, 1) 0%,
    hsla(183, 72%, 56%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#4076E0", endColorstr="#40D7E0", GradientType=1 );
  display: flex;
  justify-content: center;
  margin: 0px;
}
