.key {
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  transition: background-color 0.1s ease-out, color 0.1s ease-out,
    transform 0.1s ease-out;
}

.key_space {
  width: 240px;
}

.key_correct {
  background-color: rgb(33, 26, 35, 0.7);
  color: white;
  transform: scale(0.9);
}

.key_incorrect {
  background-color: #4076e0;

  color: white;
  transform: scale(0.9);
}
