@keyframes cursorPulse {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 25%;
  }
  100% {
    opacity: 100%;
  }
}

.letter {
  font-size: inherit;
  display: inline-block;
  box-sizing: border-box;
  color: rgba(33, 26, 35, 0.45);
  position: relative;
  white-space: pre;
}

.letter_correct {
  color: #211a23;
}

.letter_incorrect {
  color: #4076e0;
}

.letter__cursor {
  position: absolute;
  top: 0;
  left: -2px;
  height: 100%;
  width: 2px;
  background-color: rgba(33, 26, 35, 0.7);
  animation: cursorPulse 1s ease-in-out infinite forwards;
}
