@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.reset {
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: none;
  background-image: url("../assets/restart.svg");
  transition: background-image 0.25s ease-in;
}

.reset:hover {
  background-image: url("../assets/restart-hover.svg");
}

.reset:active {
  opacity: 0.7;
}

.reset_animation {
  animation: rotate 0.8s forwards;
}
